In [181]:
#importing libaries and the data frame
import pandas as pd
import numpy as np
import seaborn as sns
df = pd.read_csv('data_100000.csv')

In [7]:
#checking if the data frame is readable
df.head()
df.tail()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
99995,10/08/2015,299309,409877,POINT (-74.2476220025519 40.50285270258401),7,0,OnCurb,Alive,Fair,Pyrus calleryana,...,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,New York,40.502853,-74.247622,9.153862e+05,122576.815592
99996,10/08/2015,299310,409877,POINT (-74.24760188461457 40.50279600610096),7,0,OnCurb,Alive,Good,Pyrus calleryana,...,62,24,SI11,Charleston-Richmond Valley-Tottenville,5024402,New York,40.502796,-74.247602,9.153918e+05,122556.144045
99997,10/10/2015,307148,323051,POINT (-73.7512941078738 40.777061235064345),3,0,OnCurb,Alive,Good,Pyrus calleryana,...,26,11,QN45,Douglas Manor-Douglaston-Little Neck,4148300,New York,40.777061,-73.751294,1.053132e+06,222478.970118
99998,10/08/2015,297724,415760,POINT (-74.14599626668874 40.55119304411556),5,0,OnCurb,Alive,Good,Pyrus calleryana,...,64,24,SI54,Great Kills,5013203,New York,40.551193,-74.145996,9.436777e+05,140124.806743
99999,10/02/2015,277768,100613,POINT (-74.01358936114298 40.717426536991724),8,0,OnCurb,Alive,Good,Pyrus calleryana,...,66,26,MN25,Battery Park City-Lower Manhattan,1031703,New York,40.717427,-74.013589,9.804829e+05,200654.644016

In [8]:
#Checking how many rows and columns
#We have 10000 rows and 42 columns
df.shape

(100000, 42)

In [184]:
#Making a copy of the data frame in order to start cleaning
df_copy = df.copy()
df_copy = df.copy()
df_copy = df.copy()
df_copy.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [185]:
#checking data types
df_copy.dtypes

created_at     object
tree_id         int64
block_id        int64
the_geom       object
tree_dbh        int64
stump_diam      int64
curb_loc       object
status         object
health         object
spc_latin      object
spc_common     object
steward        object
guards         object
sidewalk       object
user_type      object
problems       object
root_stone     object
root_grate     object
root_other     object
trnk_wire      object
trnk_light     object
trnk_other     object
brnch_ligh     object
brnch_shoe     object
brnch_othe     object
address        object
zipcode         int64
zip_city       object
cb_num          int64
borocode        int64
boroname       object
cncldist        int64
st_assem        int64
st_senate       int64
nta            object
nta_name       object
boro_ct         int64
state          object
latitude      float64
longitude     float64
x_sp          float64
y_sp          float64
dtype: object

In [186]:
#changing the data type from "created_at" to dataframe
df_copy["created_at"] = pd.to_datetime(df_copy.created_at)
df_copy.dtypes

created_at    datetime64[ns]
tree_id                int64
block_id               int64
the_geom              object
tree_dbh               int64
stump_diam             int64
curb_loc              object
status                object
health                object
spc_latin             object
spc_common            object
steward               object
guards                object
sidewalk              object
user_type             object
problems              object
root_stone            object
root_grate            object
root_other            object
trnk_wire             object
trnk_light            object
trnk_other            object
brnch_ligh            object
brnch_shoe            object
brnch_othe            object
address               object
zipcode                int64
zip_city              object
cb_num                 int64
borocode               int64
boroname              object
cncldist               int64
st_assem               int64
st_senate              int64
nta                   object
nta_name              object
boro_ct                int64
state                 object
latitude             float64
longitude            float64
x_sp                 float64
y_sp                 float64
dtype: object

In [187]:
#striping the strings
columns_to_strip = ['the_geom', 'curb_loc', 'status', 'health', 'spc_latin', 'spc_common', 'steward', 'guards',
                    'sidewalk', 'user_type', 'problems', 'root_stone', 'root_grate', 'root_other', 'trnk_wire',
                    'trnk_light', 'brnch_shoe', 'brnch_othe', 'address', 'zip_city', 'boroname', 'nta',
                    'nta_name', 'state',]
df_copy[columns_to_strip].apply(lambda x: x.str.strip())

,the_geom,curb_loc,status,health,spc_latin,spc_common,steward,guards,sidewalk,user_type,...,trnk_wire,trnk_light,brnch_shoe,brnch_othe,address,zip_city,boroname,nta,nta_name,state
0,POINT (-73.84421521958048 40.723091773924274),OnCurb,Alive,Fair,Acer rubrum,red maple,None,None,NoDamage,TreesCount Staff,...,No,No,No,No,108-005 70 AVENUE,Forest Hills,Queens,QN17,Forest Hills,New York
1,POINT (-73.81867945834878 40.79411066708779),OnCurb,Alive,Fair,Quercus palustris,pin oak,None,None,Damage,TreesCount Staff,...,No,No,No,No,147-074 7 AVENUE,Whitestone,Queens,QN49,Whitestone,New York
2,POINT (-73.93660770459083 40.717580740099116),OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1or2,None,Damage,Volunteer,...,No,No,No,No,390 MORGAN AVENUE,Brooklyn,Brooklyn,BK90,East Williamsburg,New York
3,POINT (-73.93445615919741 40.713537494833226),OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,None,None,Damage,Volunteer,...,No,No,No,No,1027 GRAND STREET,Brooklyn,Brooklyn,BK90,East Williamsburg,New York
4,POINT (-73.97597938483258 40.66677775537875),OnCurb,Alive,Good,Tilia americana,American linden,None,None,Damage,Volunteer,...,No,No,No,No,603 6 STREET,Brooklyn,Brooklyn,BK37,Park Slope-Gowanus,New York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,POINT (-74.2476220025519 40.50285270258401),OnCurb,Alive,Fair,Pyrus calleryana,Callery pear,1or2,None,NoDamage,TreesCount Staff,...,No,No,No,No,201 ASPINWALL STREET,Staten Island,Staten Island,SI11,Charleston-Richmond Valley-Tottenville,New York
99996,POINT (-74.24760188461457 40.50279600610096),OnCurb,Alive,Good,Pyrus calleryana,Callery pear,1or2,None,NoDamage,TreesCount Staff,...,No,No,No,No,201 ASPINWALL STREET,Staten Island,Staten Island,SI11,Charleston-Richmond Valley-Tottenville,New York
99997,POINT (-73.7512941078738 40.777061235064345),OnCurb,Alive,Good,Pyrus calleryana,Callery pear,1or2,None,NoDamage,Volunteer,...,No,No,No,No,237-010 32 AVENUE,Little Neck,Queens,QN45,Douglas Manor-Douglaston-Little Neck,New York
99998,POINT (-74.14599626668874 40.55119304411556),OnCurb,Alive,Good,Pyrus calleryana,Callery pear,None,None,NoDamage,TreesCount Staff,...,No,No,No,No,4 MIDLAND ROAD,Staten Island,Staten Island,SI54,Great Kills,New York
99999,POINT (-74.01358936114298 40.717426536991724),OnCurb,Alive,Good,Pyrus calleryana,Callery pear,1or2,Helpful,NoDamage,NYC Parks Staff,...,No,No,No,No,450 NORTH END AVENUE,New York,Manhattan,MN25,Battery Park City-Lower Manhattan,New York

In [188]:
#removing duplicates
df_copy.duplicated(['created_at','status','spc_latin', 'block_id',
                    "health", "user_type", "boro_ct", "stump_diam",
                    'latitude', 'longitude']).value_counts()
#keeping the duplicates since they can help store more information about the same tree
df_copy.columns.tolist()

['created_at',
 'tree_id',
 'block_id',
 'the_geom',
 'tree_dbh',
 'stump_diam',
 'curb_loc',
 'status',
 'health',
 'spc_latin',
 'spc_common',
 'steward',
 'guards',
 'sidewalk',
 'user_type',
 'problems',
 'root_stone',
 'root_grate',
 'root_other',
 'trnk_wire',
 'trnk_light',
 'trnk_other',
 'brnch_ligh',
 'brnch_shoe',
 'brnch_othe',
 'address',
 'zipcode',
 'zip_city',
 'cb_num',
 'borocode',
 'boroname',
 'cncldist',
 'st_assem',
 'st_senate',
 'nta',
 'nta_name',
 'boro_ct',
 'state',
 'latitude',
 'longitude',
 'x_sp',
 'y_sp']

In [189]:
#list all the columns
#df_copy.columns.tolist()
columns_list =['created_at','tree_id','block_id','the_geom','tree_dbh','stump_diam','curb_loc','status','health', 
               'spc_latin','spc_common',
               'steward','guards','sidewalk','user_type','problems','root_stone','root_grate','root_other','trnk_wire',
               'trnk_light','trnk_other','brnch_ligh','brnch_shoe','brnch_othe','address','zipcode','zip_city','cb_num',
               'borocode','boroname','cncldist','st_assem','st_senate','nta','nta_name','boro_ct','state','latitude',
               'longitude','x_sp','y_sp']

#looking for NaN values to know how to deal with them
df_copy.isna()
df_copy.isnull()
df_copy[['created_at','tree_id','block_id','the_geom','tree_dbh','stump_diam','curb_loc','status','health']].isna().value_counts(normalize=True) * 100
#healh has NaN values; 4.993%

df_copy[['spc_latin','spc_common','longitude','x_sp','y_sp']].isna().value_counts(normalize=True) * 100
#spc_common has NaN values; 4.992%

df_copy[['steward','guards','sidewalk','user_type','problems','root_stone','root_grate','root_other','trnk_wire']].isna().value_counts(normalize=True) * 100
#guards, sidewalk, problems and steward have NaN values; 4.992%

df_copy[['trnk_light','trnk_other','brnch_ligh','brnch_shoe','brnch_othe','address','zipcode','zip_city','cb_num']].isna().value_counts(normalize=True) * 100
#has no NaN values

df_copy[['borocode','boroname','cncldist','st_assem','st_senate','nta','nta_name','boro_ct','state','latitude']].isna().value_counts(normalize=True) * 100
#has no NaN values

borocode  boroname  cncldist  st_assem  st_senate  nta    nta_name  boro_ct  state  latitude
False     False     False     False     False      False  False     False    False  False       100.0
dtype: float64

In [190]:
#Dealing with NaN in the health column
df_copy["health"].unique()

array(['Fair', 'Good', 'Poor', nan], dtype=object)

In [191]:
#Dealing with NaN in the spc_common column (commun name species)
df_copy["spc_common"].unique()
#df_copy["spc_common"] = df_copy["spc_common"].fillna("Not specified")
#df_copy["spc_common"].unique()

array(['red maple', 'pin oak', 'honeylocust', 'American linden',
       'London planetree', 'ginkgo', 'willow oak', 'sycamore maple',
       'Amur maple', 'hedge maple', 'American elm', 'ash', 'crab apple',
       'silver maple', 'Turkish hazelnut', 'black cherry',
       'eastern redcedar', 'Norway maple', 'tulip-poplar', 'sawtooth oak',
       'Sophora', 'swamp white oak', 'Chinese fringetree',
       'southern magnolia', 'sweetgum', 'Callery pear', 'scarlet oak',
       'Atlantic white cedar', 'black oak', 'Japanese zelkova',
       'white oak', 'Ohio buckeye', 'northern red oak', nan,
       'silver linden', 'pignut hickory', 'Kentucky yellowwood',
       'mulberry', 'Douglas-fir', 'crepe myrtle', 'sassafras', 'spruce',
       'Chinese elm', 'horse chestnut', 'holly', 'littleleaf linden',
       'white pine', 'blackgum', 'Japanese tree lilac',
       'hardy rubber tree', 'green ash', 'English oak', 'white ash',
       'golden raintree', "Schumard's oak", 'Siberian elm',
       'black walnut', 'weeping willow', 'katsura tree', 'black locust',
       'Persian ironwood', 'Cornelian cherry', 'Chinese chestnut',
       'southern red oak', 'cherry', 'purple-leaf plum',
       'crimson king maple', 'Kentucky coffeetree', 'Japanese snowbell',
       'sugar maple', 'arborvitae', 'Oklahoma redbud', 'tree of heaven',
       'Chinese tree lilac', 'American hornbeam', 'eastern cottonwood',
       'eastern hemlock', 'silver birch', 'Atlas cedar', 'empress tree',
       'hawthorn', "'Schubert' chokecherry", 'catalpa', 'river birch',
       'boxelder', 'European beech', 'Norway spruce', 'Himalayan cedar',
       'Amur cork tree', 'Japanese maple', 'shingle oak', 'magnolia',
       'smoketree', 'paper birch', 'American beech',
       'American hophornbeam', 'American larch', 'pond cypress',
       'cockspur hawthorn', 'dawn redwood', 'common hackberry',
       'flowering dogwood', 'kousa dogwood', 'maple', 'eastern redbud',
       'bald cypress', 'cucumber magnolia', 'serviceberry',
       'Osage-orange', 'paperbark maple', 'red pine', 'Scots pine',
       'tartar maple', 'black maple', 'blue spruce', 'quaking aspen',
       'red horse chestnut', 'black pine', 'Shantung maple',
       'European alder', 'Amur maackia', 'European hornbeam', 'bur oak',
       'bigtooth aspen', 'trident maple', 'Virginia pine'], dtype=object)

In [192]:
#Dealing with NaN in the guards column (if there is a fence around the tree)
df_copy["guards"].unique()

array(['None', 'Helpful', 'Harmful', 'Unsure', nan], dtype=object)

In [193]:
#Dealing with NaN in the sidewalk column (if there is a fence around the tree)
df_copy["sidewalk"].unique()

array(['NoDamage', 'Damage', nan], dtype=object)

In [194]:
#Dealing with NaN in the problems column (if there is a fence around the tree)
df_copy["problems"].unique()

array(['None', 'Stones', 'MetalGrates', 'RootOther', 'Stones,BranchOther',
       'TrunkLights,BranchLights', 'RootOther,TrunkOther,BranchOther',
       'BranchOther', 'Stones,BranchLights', 'TrunkOther,BranchLights',
       'MetalGrates,TrunkOther', 'TrunkOther', 'Stones,WiresRope',
       'BranchLights', 'WiresRope,BranchOther', 'RootOther,BranchOther',
       'Stones,WiresRope,BranchLights', 'WiresRope',
       'WiresRope,BranchLights', 'Stones,TrunkOther',
       'WiresRope,TrunkLights,BranchLights', 'Stones,RootOther',
       'Stones,BranchLights,BranchOther', 'Stones,RootOther,BranchLights',
       'MetalGrates,BranchOther', 'Stones,RootOther,TrunkOther',
       'RootOther,TrunkOther',
       'Stones,TrunkOther,BranchLights,BranchOther',
       'Stones,TrunkOther,BranchOther', 'RootOther,BranchLights',
       'TrunkOther,BranchOther', 'RootOther,WiresRope,BranchLights',
       'Stones,TrunkOther,BranchLights', 'BranchLights,Sneakers',
       'Stones,RootOther,TrunkOther,BranchLights', nan,
       'MetalGrates,TrunkOther,BranchOther', 'TrunkLights,BranchOther',
       'TrunkLights', 'Stones,RootOther,BranchOther',
       'RootOther,WiresRope', 'BranchLights,BranchOther',
       'Stones,MetalGrates', 'RootOther,TrunkOther,BranchLights',
       'Stones,WiresRope,TrunkOther,BranchLights',
       'WiresRope,TrunkOther,BranchOther',
       'RootOther,WiresRope,TrunkOther,BranchLights',
       'RootOther,TrunkOther,BranchLights,BranchOther',
       'MetalGrates,RootOther,TrunkOther', 'Stones,WiresRope,TrunkOther',
       'MetalGrates,RootOther,TrunkOther,BranchOther',
       'Stones,RootOther,WiresRope,BranchLights', 'WiresRope,TrunkOther',
       'RootOther,WiresRope,TrunkOther', 'MetalGrates,WiresRope',
       'Stones,RootOther,WiresRope,TrunkOther',
       'Stones,RootOther,TrunkOther,BranchOther',
       'Stones,WiresRope,BranchOther',
       'RootOther,BranchLights,BranchOther',
       'Stones,RootOther,WiresRope,TrunkLights,BranchLights',
       'RootOther,WiresRope,TrunkOther,BranchLights,BranchOther',
       'WiresRope,TrunkOther,BranchLights,BranchOther',
       'Stones,RootOther,WiresRope,BranchOther', 'MetalGrates,RootOther',
       'Stones,TrunkLights', 'Stones,MetalGrates,WiresRope,BranchLights',
       'Stones,WiresRope,BranchLights,BranchOther',
       'TrunkOther,BranchLights,BranchOther', 'TrunkLights,TrunkOther',
       'Stones,RootOther,TrunkLights,BranchLights',
       'Stones,TrunkLights,BranchLights',
       'WiresRope,BranchLights,BranchOther', 'WiresRope,TrunkLights',
       'Stones,RootOther,TrunkOther,BranchLights,BranchOther',
       'TrunkOther,Sneakers',
       'RootOther,WiresRope,TrunkOther,BranchOther',
       'RootOther,TrunkLights,BranchLights', 'RootOther,Sneakers',
       'Stones,RootOther,Sneakers,BranchOther',
       'MetalGrates,WiresRope,BranchOther',
       'RootOther,TrunkLights,BranchOther',
       'RootOther,WiresRope,BranchOther',
       'Stones,RootOther,WiresRope,TrunkOther,BranchLights,BranchOther',
       'MetalGrates,BranchLights',
       'Stones,TrunkLights,BranchLights,BranchOther',
       'Stones,MetalGrates,RootOther', 'Stones,Sneakers',
       'Stones,TrunkLights,BranchOther',
       'Stones,RootOther,BranchLights,BranchOther', 'Sneakers',
       'Stones,RootOther,Sneakers', 'MetalGrates,TrunkOther,BranchLights',
       'MetalGrates,TrunkLights,BranchLights',
       'WiresRope,TrunkOther,BranchLights,Sneakers',
       'MetalGrates,RootOther,BranchOther', 'Stones,RootOther,WiresRope',
       'Stones,WiresRope,BranchLights,Sneakers',
       'WiresRope,TrunkOther,BranchLights',
       'Stones,RootOther,WiresRope,TrunkOther,BranchLights',
       'Stones,RootOther,WiresRope,BranchLights,BranchOther',
       'RootOther,WiresRope,BranchLights,BranchOther',
       'Stones,MetalGrates,TrunkOther',
       'RootOther,TrunkLights,TrunkOther,BranchLights,BranchOther',
       'MetalGrates,Sneakers',
       'Stones,RootOther,WiresRope,TrunkOther,BranchOther',
       'Stones,WiresRope,TrunkOther,BranchLights,BranchOther',
       'MetalGrates,RootOther,WiresRope,TrunkLights,BranchLights,BranchOther',
       'Stones,WiresRope,TrunkOther,BranchOther',
       'MetalGrates,RootOther,WiresRope,BranchOther',
       'MetalGrates,WiresRope,TrunkLights,BranchLights,BranchOther',
       'TrunkLights,TrunkOther,BranchLights', 'WiresRope,Sneakers',
       'RootOther,WiresRope,TrunkLights,BranchOther',
       'MetalGrates,RootOther,BranchLights',
       'Stones,MetalGrates,BranchLights', 'Stones,RootOther,TrunkLights',
       'Sneakers,BranchOther', 'Stones,RootOther,TrunkOther,Sneakers',
       'Stones,WiresRope,TrunkLights,BranchLights',
       'Stones,BranchLights,Sneakers',
       'BranchLights,Sneakers,BranchOther',
       'MetalGrates,RootOther,TrunkLights,BranchLights',
       'Stones,RootOther,BranchLights,Sneakers',
       'Stones,TrunkLights,TrunkOther,BranchLights',
       'RootOther,TrunkLights', 'TrunkLights,Sneakers',
       'TrunkLights,BranchLights,BranchOther',
       'Stones,MetalGrates,RootOther,BranchOther',
       'Stones,RootOther,WiresRope,TrunkLights',
       'Stones,RootOther,WiresRope,TrunkLights,BranchOther',
       'RootOther,TrunkLights,TrunkOther,BranchLights',
       'RootOther,WiresRope,TrunkLights',
       'TrunkLights,TrunkOther,BranchLights,BranchOther',
       'Stones,MetalGrates,WiresRope,TrunkLights,BranchLights',
       'Stones,MetalGrates,TrunkOther,BranchOther',
       'Stones,TrunkOther,Sneakers', 'Stones,MetalGrates,WiresRope',
       'Stones,MetalGrates,RootOther,TrunkOther',
       'Stones,RootOther,TrunkLights,TrunkOther,BranchLights',
       'TrunkOther,BranchLights,Sneakers,BranchOther',
       'Stones,Sneakers,BranchOther',
       'RootOther,WiresRope,TrunkLights,TrunkOther,BranchLights',
       'MetalGrates,RootOther,TrunkOther,BranchLights',
       'WiresRope,TrunkLights,TrunkOther,BranchLights',
       'Stones,MetalGrates,TrunkOther,BranchLights',
       'Stones,TrunkLights,TrunkOther,BranchOther',
       'Stones,TrunkLights,TrunkOther',
       'MetalGrates,WiresRope,BranchLights',
       'RootOther,WiresRope,TrunkLights,TrunkOther,BranchLights,BranchOther',
       'Stones,MetalGrates,BranchOther',
       'Stones,MetalGrates,RootOther,TrunkOther,BranchOther',
       'RootOther,WiresRope,TrunkLights,BranchLights'], dtype=object)

In [195]:
#Dealing with NaN in the steward column (if there is a fence around the tree)
df_copy["steward"].unique()

array(['None', '1or2', '3or4', nan, '4orMore'], dtype=object)

In [196]:
df_copy.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,2015-08-27,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,2015-09-03,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,2015-09-05,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,2015-09-05,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,2015-08-30,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [197]:
#dropping the column with common name. This is better option, because the the scientific name is always the same,
#contrary to the common name.
df_copy = df_copy.drop('spc_common', 1)
df_copy.columns.tolist()

['created_at',
 'tree_id',
 'block_id',
 'the_geom',
 'tree_dbh',
 'stump_diam',
 'curb_loc',
 'status',
 'health',
 'spc_latin',
 'steward',
 'guards',
 'sidewalk',
 'user_type',
 'problems',
 'root_stone',
 'root_grate',
 'root_other',
 'trnk_wire',
 'trnk_light',
 'trnk_other',
 'brnch_ligh',
 'brnch_shoe',
 'brnch_othe',
 'address',
 'zipcode',
 'zip_city',
 'cb_num',
 'borocode',
 'boroname',
 'cncldist',
 'st_assem',
 'st_senate',
 'nta',
 'nta_name',
 'boro_ct',
 'state',
 'latitude',
 'longitude',
 'x_sp',
 'y_sp']

In [198]:
#dropping the column with the_geom. This is better option, because I believe for machine interpretation, 
#it is better to have the lattitute and longitute separated
df_copy = df_copy.drop('the_geom', 1)
df_copy.columns.tolist()

['created_at',
 'tree_id',
 'block_id',
 'tree_dbh',
 'stump_diam',
 'curb_loc',
 'status',
 'health',
 'spc_latin',
 'steward',
 'guards',
 'sidewalk',
 'user_type',
 'problems',
 'root_stone',
 'root_grate',
 'root_other',
 'trnk_wire',
 'trnk_light',
 'trnk_other',
 'brnch_ligh',
 'brnch_shoe',
 'brnch_othe',
 'address',
 'zipcode',
 'zip_city',
 'cb_num',
 'borocode',
 'boroname',
 'cncldist',
 'st_assem',
 'st_senate',
 'nta',
 'nta_name',
 'boro_ct',
 'state',
 'latitude',
 'longitude',
 'x_sp',
 'y_sp']

In [199]:
#lookig into detail over my data:
df_copy.value_counts("status")

status
Alive    95008
Stump     2831
Dead      2161
dtype: int64

In [200]:
#lookig into detail over my data:
df_copy.value_counts("tree_dbh", ascending=True)

tree_dbh
425       1
52        1
55        1
56        1
60        1
       ...
2      5484
11     5794
5      5921
3      7473
4      8389
Length: 77, dtype: int64

In [201]:
#lookig into detail over my data:
df_copy.value_counts("stump_diam", ascending=True)

stump_diam
140        1
43         1
49         1
55         1
57         1
       ...
6        127
4        133
12       136
5        145
0      97169
Length: 75, dtype: int64

In [202]:
#conditions = [
#    (df_copy['stump_diam'] == '0') & (df_copy['status'] == 'Alive'),
#    (df_copy['stump_diam'] == '0') & (df_copy['status'] == 'Dead')]
#output = ['None', 'None']
#df_copy['stump_diam'] = np.select(conditions, output)
#df_copy.value_counts("stump_diam", ascending=True)